{% extends "base.html" %}
{% block content %}

<h2>Update a member</h2>

<form action="/members/{{ member.id }}" method="POST">
    <div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ member.name }}">
        </div>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" value="{{ member.age}}">
        </div>
        <div>
            <label for="address">Adress:</label>
            <input type="text" id="address" name="address" value="{{ member.address }}">
        </div>
        <div>
            <label for="phone_number">Phone number:</label>
            <input type="number" id="phone_number" name="phone_number" value="{{ member.phone_number }}">
        </div>
        <div>
            <input type="submit">
        </div>
    </div>
</form>

{% endblock %}