header {
    background-color: white;
    position: sticky;
    top: 0;
  }

body {
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }

footer {
    background-color: #9ab3f7;
    border-radius: 10px;
}

div {
    flex-direction: row;
    justify-content: space-evenly;
}
  

.menu {
    background-color: #9ab3f7;
    border-radius: 10px;  
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;    
}

.container {
    background-color: #cbeed7;
    border-radius: 10px;    
}
