header {
    background-color: white;
    position: sticky;
    top: 0;
  }

body {
    font-family: "Verdana", sans-serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }

footer {
    background-color: #9ab3f7;
}

div {
    flex-direction: row;
    justify-content: space-evenly;
}
  

.menu {
    background-color: #9ab3f7;
    
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.container_member {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    justify-content: flex-start;
    background-color: #9ab3f7;
}

#my_list tr:nth-child(odd) {
    background-color: #DDD;
    color:#777
}

#my_list tr:nth-child(even) {
    background-color: #666;
    color:#FFF;
}