<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Fit a Goal App</title>
</head>
<body>
    <header>
        <center><h1>Fit a Goal App</h1></center>
    </header>
        <main>
        <nav>
            <ul class="menu">
            <div class="wrapper">
                <div>
                    <a href="/"><h4>Home</h4></a>
                </div>
                <div>
                    <h4>Membership </h4>
                        <li>
                            <a href="/members">Current members</a>
                        </li>
                        <li>
                            <a href="/members/new">New member</a>
                        </li>
                </div>
                <div>
                    <h4>Sport class</h4>
                        <li>
                            <a href="/sport_classes">Upcoming classes</a>
                        </li>
                        <li>
                            <a href="/sport_classes/new">New sport class</a>
                        </li>
                </div>
                <div>
                    <h4>Bookings</h4>
                            <li>
                                <a href="/booking_lists">All bookings</a>
                            </li>
                            <li><a href="/booking_lists/new">New booking</a>
                            </li>
                </div>
            </div>
            </ul>
        </nav>
        </main>
        {% block content %}
        {% endblock %}
    </div>
</body>
<footer>
    <p> &copy; 2022 Fit a Goal</p>
</footer>
</html>