{% extends "base.html" %}
{% block content %}

<h2>Booking list</h2>

{% set counter = namespace(element = 2) %}

{% for booking_list in booking_lists %}

    {% if counter.element is divisibleby 2 %}
        {% set dynamic_class = "even" %}
    {% else %}
        {% set dynamic_class = "odd" %}
    {% endif %}

    {% set counter.element = counter.element + 1 %}


<section>
    <div class="container {{ dynamic_class }}">
        <h4>Member:{{ booking_list.member.name }}, Sport class:{{ booking_list.sport_class.name }}</h5>
        <a href="/booking_lists/{{ booking_list.id }}/edit">Edit</a>
        <form action="/booking_lists/{{ booking_list.id }}"></form>
    </div>
</section>

{% endfor %}
{% endblock %}